body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h1 {
    margin-top: 50px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}
div {
    background: url("https://files.oaiusercontent.com/file-Hkm3qU7AGuEfrS1JSpLzCZ?se=2024-12-19T13%3A21%3A24Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3Dc21abb21-3f34-42a6-ade3-2985c5ae5589.webp&sig=AwkeJP0IVczQQNLDkDJzMFYEuiVRg6j//Vqfq3FOuyw%3D") no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
     
  }
  
